<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Onroad Vehicle Breakdown Assistance System</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="./IMG/favicon1.png" rel="icon">
  <!--link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"-->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="./vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="./vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="./vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="./vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  
  <!-- Template Main CSS File -->
  <link href="./css/style.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: Green
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/green-free-one-page-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope-fill"></i><a href="mailto:contact@example.com">23mx126@psgtech.ac.in</a>
        <i class="bi bi-phone-fill phone-icon"></i> +91 93454 02403
      </div>
      <div class="social-links d-none d-md-block">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>
  <hr>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" >
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="">ORVBA</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar" >
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li class="dropdown"><a href="#"><span>Sign Up</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="\csignup">Sign Up as Customer</a></li>
              <li><a href="\msignup">Sign Up as Mechanic</a>
              </li>
            </ul>
          </li>
          <li><a class="getstarted scrollto" href="\login">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" style="background-color:black;" class="carousel slide carousel-fade" data-bs-ride="carousel" >
      <ol class="carousel-indicators"  id="hero-carousel-indicators"></ol>
        <div class="carousel-item active" style="background-color: white;" >
          <div class="carousel-container" style="background-image: url(./IMG/slide/project_backblk.jpg);
          background-size:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color:rgba(243, 168, 111, 0.844);">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown" style="color: rgba(236, 172, 123, 0.792);">Welcome to <span>ORVBA</span></h2>
              <p class="animate__animated animate__fadeInUp" style="color:rgba(236, 172, 123, 0.792);font-size:x-large;font-weight: bold;margin-left: 5%;">OnRoad Vehicle Breakdown Assistance</p>
              <h2 style="color: rgba(236, 172, 123, 0.792);">Don't let a breakdown stop you!</h2>
              <p style="color: rgb(245, 190, 149);">Trust us to get you to your destination.</p></p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services section-bg">
      <div class="container">

        <div class="row no-gutters">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-laptop"></i></div>
              <h4 class="title"><a href="">Booking</a></h4>
              <p class="description">Can find and book mechanics from any place.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="">Service</a></h4>
              <p class="description">As all the mechanics are authorized mechanics they will provide you the best service.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-clock"></i></div>
              <h4 class="title"><a href="">On Time</a></h4>
              <p class="description">As the mechanics are sorted on basis of location they will reach you in less time.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2 style="text-align: center;">About Us</h2>
          <h4>Our Vision:
            Empowering Safe Journeys, Everywhere.</h4>
           <p><h6>We envision a world where no one is left stranded on the road due to vehicle breakdowns.ORVBA is committed to revolutionizing on-road assistance, making it universally accessible, reliable, and convenient. Our vision is to ensure that individuals and families can travel with confidence, knowing that help is just a call away, no matter where they are.Through innovation, dedication, and a tireless focus on customer safety and peace of mind, we are paving the way for a future where breakdowns are no longer a barrier to your journey.
            Feel free to customize this vision statement to better align with ORVBA's specific goals and aspirations.</h6></p>
            <h4>Our Mission:
          Delivering Reliable Roadside Assistance, Ensuring Your Safety and Peace of Mind.</h4></p>
            <p><h6>At ORVBA, we are dedicated to providing dependable on-road vehicle breakdown assistance to our valued customers and to offer swift, trustworthy, and convenient support when you need it the most We believe that no one should be left stranded, and we are committed to ensuring your safety and peace of mind during your journeys. With a focus on excellence, customer-centricity, and the highest ethical standards, we are here to keep you moving forward, no matter the road ahead.This mission statement underscores ORVBA's commitment to customer safety, reliability, and a strong customer focus, while also emphasizing the organization's dedication to ethical and professional service. Feel free to adjust and customize this mission statement to better reflect ORVBA's specific objectives and values.</h6></p>
            <h4>Our Team:</h4>
            <p><h6>On Road Vehicle Breakdown Assistance  can help you  search for list of mechanic at any location or the nearby locations which will help you in an unexpected situations raised by the mechanical issues of your vehicles. Only the Trusted  mechanics can get listed here while the search. Road assistance for car . And there are available mechanic who can come and repair the mechanical issues of your vehicle.</h6></p>
        </div>

      </div>
    </section><!-- End About Us Section -->
    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>PSG College of Technology</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 93456 78321</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7832.392202614749!2d76.99345445443355!3d11.023908799999992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba8582f03214555%3A0x694147ca0906a6ee!2sPSG%20College%20of%20Technology!5e0!3m2!1sen!2sin!4v1702459185605!5m2!1sen!2sin"
              frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="/contactus" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group mt-3">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>ORVBA</h3>
      <p>Onroad Vehicle Breakdown Assistance System</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>ORVBA</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/green-free-one-page-bootstrap-template/ -->
       
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./vendor/glightbox/js/glightbox.min.js"></script>
  <script src="./vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="./vendor/swiper/swiper-bundle.min.js"></script>
  <script src="./vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="./js/main.js"></script>

</body>

</html>

