<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mechanic Sign Up</title>
    <link href="./IMG/favicon1.png" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/lsstyle.css">
    <style>
         .error-message {
            color: red;
        }
        h1,p {
            text-align: center;
        }
    </style>
</head>
<body class="container" style="background-image: url('./IMG/projectbackblur.jpg');">
    <form action="/msignup" method="post" style="align-items: center;" onsubmit="return validateForm()">

        <h1>ORVBA</h1> <p>onroad vehicle breakdown assistance system</p>
        <div class="login" style="width: 100%;">
            <h1 class="title">Sign Up as Mechanic</h1>
            
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <input class="fill" type="text" placeholder="Name" name="mechname" id="mechname" required autofocus oninput="validateName()">
                    <div id="mechnameError" class="error-message"></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <input class="fill" type="date" placeholder="Date of Birth" name="dob" id="dob" required oninput="validateDOB()">
                    <div id="dobError" class="error-message"></div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <input class="fill" type="email" placeholder="Email" name="email" id="email" required oninput="validateEmail()">
                    <div id="emailError" class="error-message"></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <input class="fill" type="email" placeholder="Confirm Email" name="confirm_email" id="confirm_email" required oninput="validateConfirmEmail()">
                    <div id="confirm_emailError" class="error-message"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <input class="fill" type="password" placeholder="Enter Password" name="password" id="password" required oninput="validatePassword()">
                    <div id="passwordError" class="error-message"></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <input class="fill" type="password" placeholder="Confirm Password" name="psw" id="confirm_password" required oninput="validateConfirmPassword()">
                    <div id="confirm_passwordError" class="error-message"></div>
                </div>
            </div>
            <textarea class="fill" rows="3" cols="2" placeholder="Address" name="address" id="address" required></textarea> 
            
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <select class="fill" name="gender" id="gender" required>
                        <option value="">Select Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <input class="fill" type="tel" name="phno" id="phno" placeholder="Phone Number" pattern="[0-9]{10}" required oninput="validatePhoneNumber()">
                    <div id="phnoError" class="error-message"></div>
                </div>
            </div>     
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <input class="fill" type="text" placeholder="Enter Aadhar Number" name="aadhar" id="aadhar" required oninput="validateAadhar()">
                    <div id="aadharError" class="error-messasge"></div>
                    <!-- <label for="myFile">Aadhar</label>
                    <input type="file" id="myFile" name="myFile" accept=".jpg, .jpeg, .png, .pdf" required oninput="validateAadhar()">
                    <div id="myFileError" class="error-message"></div> -->
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <input class="fill" type="number" name="exp" id="exp" placeholder="Experience" pattern="[0-9]" required >
                </div>
            </div>       
            <button type="submit" class="submit" id="signup">Sign Up</button><br>
        </div>
        <button class="back-button" onclick="goBack()">&#8592;</button>
    </form>

    <script>
        function goBack() {
            window.history.back();
        }
        function validateName() {
            // Reset previous error messages
            resetErrorMessages();
            var name = document.getElementById("mechname").value;
            // Validate Name (should not contain numbers)
            if (!/^[a-zA-Z ]+$/.test(name)) {
                displayError("mechname", "Name should only contain letters");
            }
        }
        function validateDOB() {
            resetErrorMessages();
            var dob = document.getElementById("dob").value;
            var currentDate = new Date();
            var userDob = new Date(dob);
            var age = currentDate.getFullYear() - userDob.getFullYear();
            if (age < 18) {
                displayError("dob", "You must be 18 years or older to sign up");
            }
        }

        function validateEmail() {
            resetErrorMessages();

            var email = document.getElementById("email").value;

            // Add your email validation logic here
            if (!/^\S+@\S+\.\S+$/.test(email)) {
            displayError("email", "Invalid email format");
            }
        }

        function validateConfirmEmail() {
            resetErrorMessages();

            var email = document.getElementById("email").value;
            var confirmEmail = document.getElementById("confirm_email").value;

            if (email !== confirmEmail) {
                displayError("confirm_email", "Emails do not match");
            }
        }

        function validatePassword() {
            resetErrorMessages();

            var password = document.getElementById("password").value;

            // Password should be at least 8 characters long
            if (password.length < 8) {
                displayError("password", "Password should be at least 8 characters long");
                return;
            }

            // Password should have at least one capital letter
            if (!/[A-Z]/.test(password)) {
                displayError("password", "Password should have at least one capital letter");
                return;
            }

            // Password should have at least one small letter
            if (!/[a-z]/.test(password)) {
                displayError("password", "Password should have at least one small letter");
                return;
            }

            // Password should have at least one number
            if (!/[0-9]/.test(password)) {
                displayError("password", "Password should have at least one number");
                return;
            }

            // Password should have at least one special character
            if (!/[\W_]/.test(password)) {
                displayError("password", "Password should have at least one special character");
                return;
            }
        }

        function validateConfirmPassword() {
            resetErrorMessages();

            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirm_password").value;

            // Confirm Password should match Password
            if (password !== confirmPassword) {
                displayError("confirm_password", "Passwords do not match");
            }
        }
        function validatePhoneNumber() {
            resetErrorMessages();

            var phno = document.getElementById("phno").value;

            // Validate that the phone number contains only numbers and is 10 digits long
            if (!/^[0-9]{10}$/.test(phno)) {
                displayError("phno", "Invalid Phone Number");
            }
        }
        function validateAadhar() {
            resetErrorMessages();

            var aadharNumber = document.getElementById("aadhar").value;
            var fileInput = document.getElementById("myFile");
            var file = fileInput.files[0];

            // Validate that Aadhar number is a 12-digit number
            if (!/^[0-9]{12}$/.test(aadharNumber)) {
                displayError("aadhar", "Invalid Aadhar Number");
            }

            // Validate file type and size
            // if (file) {
            //     var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.pdf)$/i;
            //     if (!allowedExtensions.exec(file.name)) {
            //         displayError("myFile", "Invalid file type. Allowed types: jpg, jpeg, png, pdf");
            //     }

            //     // Adjust the file size limit as needed
            //     var maxSizeInBytes = 1 * 1024 * 1024; // 5 MB
            //     if (file.size > maxSizeInBytes) {
            //         displayError("myFile", "File size exceeds the limit (1 MB)");
            //     }
            // } else {
            //     displayError("myFile", "Please upload a file");
            // }
        }


        function displayError(id, message) {
            var errorMessageElement = document.getElementById(id + "Error");
            errorMessageElement.innerHTML = message;
        }

        function resetErrorMessages() {
            var errorElements = document.getElementsByClassName("error-message");
            for (var i = 0; i < errorElements.length; i++) {
                errorElements[i].innerHTML = "";
            }
        }
        function validateForm() {
            // Perform all your validation functions
            validateName();
            validateDOB();
            validateEmail();
            validateConfirmEmail();
            validatePassword();
            validateConfirmPassword();
            validatePhoneNumber();
            validateAadhar();

            // Check if there are any error messages
            var errorElements = document.getElementsByClassName("error-message");
            for (var i = 0; i < errorElements.length; i++) {
                if (errorElements[i].innerHTML !== "") {
                    // There is an error, prevent form submission
                    return false;
                }
            }

            // If no errors, allow form submission
            return true;
        }
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
